cardShadowColor = rgb(10,10,10)

.color-card
  background white
  text-align center
  font-size cardFontSize
  width 24.25%
  max-width cardMaxWidth
  margin 0 1% 1% 0
  border-radius cardRadius
  transition transform .1s ease-in-out

  if useShadow
    box-shadow 0px 3px 5px cardShadowColor
  
  .head
    padding-top 2em
    h2
      margin-bottom 0
      color black
      text-transform uppercase
      opacity .3
      font-size 1.1em
    p
      opacity .5
      color #1F2A3D
  header
    background-image linear-gradient(-207deg, #87F3E2 0%, #97EEAE 97%)
    width 100%
    height 300px
    color white
    border-radius cardRadius cardRadius 0 0
    svg
      width 150px
      opacity .7
  .card-body
    padding 1em
    text-align center
    a
      font-weight bold
      color #333
      text-transform uppercase
      color #1F2A3D
  &:hover
    transform scale(1.05)
    z-index 3
.teaser:hover > .article a

.color-card:nth-of-type(4n)
  margin 0 0 0 0

.color-card:nth-of-type(1n)
  header
    background linear-gradient(-207deg, #8DF387 0%, #97EEAF 97%)
.color-card:nth-of-type(2n)
  header
    background-image linear-gradient(-207deg, #87F3E2 0%, #97EEAE 97%)

.color-card:nth-of-type(3n)
  header
    background-image linear-gradient(-207deg, #87E0F3 0%, #97C3EE 97%)

.color-card:nth-of-type(4n)
  header
    background-image linear-gradient(-207deg, #87A7F3 0%, #9798EE 97%)
    background-image linear-gradient(-207deg, #F387AC 0%, #B486B6 97%)

.big-text-number
  position absolute
  left 0
  bottom 0
  font-size 15em
  font-weight bold
  p
    margin-bottom 0
    line-height: .5em
    opacity .7

.cardSection.color
  color white
  background #1F2A3D
  width 100%
  float left
h1  
  margin-bottom .5em


@media only screen and (max-width: 750px)
  .color-card
    width 49%