.machine_btn
	width 60px
	height 60px
	background-color #fc7d7d
	position fixed
	right 0
	top 0
	display block
	cursor pointer
	transition transform .2s ease-in-out
	z-index 9
	svg
		width 38px
		height 39px
		margin 10px 8px

.home_btn
	width 60px
	height 60px
	background-color white
	position fixed
	left 60px
	top 0
	z-index 2
	display block
	&:hover
		opacity 1
	svg
		width 23px
		height 23px
		margin 19px
		transition transform .2s ease-in-out

.home_btn:hover
	svg
		transform scale(1.2)

.main
	display flex
	flex-wrap wrap
	align-content flex-end
	.item
		padding 40px
		flex-grow 1
		transition .2s ease-in-out;
		&:hover
			background-color projectColor !important
			z-index 2
			color white !important
.text
	width 100%
	padding 80px 0
	font-size 1.1em
	ul
		list-style-type square
		padding-left 3em
		margin 0 0 3.14285714285714em
		li
			margin 0 0 0.785714em

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul
		max-width 800px
		margin-left auto
		margin-right auto
		text-transform none
	p
		font-family 'Merriweather', serif
		color #333
		strong
			font-family 'brandon_textbold', sans-serif

	p:nth-of-type(1)
		font-family: inherit
		color #7F6C6C
		font-size 1.6em
	figure
		margin 80px auto
		width 80%
		figcaption
			margin 2em
			color projectColor
			border 4px solid projectColor
			display inline-block
			padding 2em
	img
		width 100%
	figure.full
		width 100%


.machine-menu
	position fixed
	width 100%
	height 100vh
	right 0
	top 0
	background-color #fc7d7d
	z-index 3
	transition transform .2s ease-in-out
	transform-origin top right
	.machine-grid
		display flex
		flex-wrap wrap
		align-content flex-start
		li
			display inline-block

.machine-menu.closed
	transform scale(0)
.machine-menu.open
	transform scale(1)
.machine-grid
	height 100%
	.machineThumb
		text-align center
		padding 20px
		display inline-block
		.machineLink
			position absolute
			left 0
			top 0
			right 0
			bottom 0
		figure
			margin 0 0 30px 0
		img
			max-width 60%

.sitemap
	width 100%
	background-color #F0F0F0;
	padding 50px 150px
	.inner
		margin auto
		font-size .875em
		h2
			text-transform none
			margin-bottom .2em

.viewArt
	font-size 3em
	margin-bottom 0
	text-align right

footer
	padding 30px 150px
	float left
	width 100%
	border-top 1px solid white
	z-index 3
	position relative
	p
		margin 0
		opacity .5
		font-size 1em
	svg
		stroke none
	p
		position absolute
		right 150px
		top 50%;
		transform translateY(-50%);
	svg
		max-width 150px
		float left
		opacity .6
	.st0
		fill black
	.st1
		fill white

.projects
	width 100%
	float left
	.grid-sizer
		width 25%
		height 35vh
	.projectItem
		position relative
		width 25%
		height 35vh
		opacity 1
		list-style none
		color white
		background-size cover
		background-position center center
		h1
			font-size 1.6em
		&:nth-of-type(3n + 1)
			width 50%
			height 60vh
		.btn-2
			margin-right 5px
			font-size .875em
			border 3px solid white !important
		div
			width 100%
			height 100%
			opacity 0
			padding 40px
			transition opacity .2s ease-in-out
			font-size .875em
			background rgba(projectColor, .9)
			.btn
				margin-bottom 20px
			&:hover
				opacity 1


.sectionHeader
	text-align center
	padding 8% 10%
	width 100%
	h1
		text-transform none
		color #fc7d7d
		-webkit-hyphens none
		-moz-hyphens none
		-ms-hyphens none
		hyphens none

#projectHeader:before
	position absolute
	width 100%
	content ""
	height 100%
	background rgba(0, 0, 0, .2)
