.header
	height 99vh
	width 100%
	background-size cover
	background-position center center
	background-attachment fixed
	.down_btn
		width 70px
		height 70px
		// position absolute
		// right 80px
		// bottom 80px
		cursor pointer
		z-index 2
		transition .2s ease-out
		circle,
		polyline
			fill transparent
			stroke rgba(255,255,255,1)
			stroke-width 3
		&:hover
			transform scale(1.1)
	.logo_bar
		position absolute
		bottom 50px
		right 50px
		opacity .8
		z-index 2
		.waag_header_logo
			width 70px
			height 70px
			position absolute
			cursor pointer
			right 0
			bottom 10px
			z-index 2
			transition .2s ease-out
			&:hover
				transform scale(1.1)
				.hover_bar
					opacity 1
		.openthings_header_logo
			width 90px
			height 90px
			position absolute
			cursor pointer
			right 80px
			bottom 0
			z-index 2
			transition .2s ease-out
			&:hover
				transform scale(1.1)
			path
				fill white
	.logo_hover
		position absolute
		height 100%
		width 100%
		z-index 2
		background white
		opacity 0
		h1
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
	.headerSign
		color white
		font-size 1.8em
		transform-origin left bottom
		display inline-block
		position absolute
		left 120px
		bottom 80px
		max-width 1000px
		z-index 2
		// text-shadow 3px 3px 8px rgba(0,0,0,.1)
		h1
			left -.07em
			margin-bottom 0
		h1,
		h2
			margin-bottom 0
			opacity .8
		p
			margin-bottom 0
			font-size .875em
			top -.2em
		h2
			font-family 'brandon_textlight', sans-serif
			border-bottom 1px solid rgba(255,255,255, .6)
			display inline-block
			margin-bottom .1em
			top -.3em
			font-size 1em
			text-transform uppercase
		p
			opacity .8
			margin-bottom .1em
