.header
	height 97vh
	width 100%
	background-size cover
	background-position center center
	background-attachment fixed

	.headerSign
		color white
		padding 50px
		font-size 1.2em
		border 5px solid white
		display inline-block
		position absolute
		left 50%
		top 50%
		z-index 2
		transform translate(-50%, -50%)
		text-align center
		h1,
		h2
			margin-bottom .2em
		p
			margin-bottom 0
		h2
			font-family 'brandon_textlight', sans-serif
			text-transform none;
		p
			opacity .8;
