.hero
  position absolute
  left 50%
  top 50%
  color canvas
  font-size heroFontSize
  transition opacity .3s ease-out
  transform-origin center
  transform translate(-50%, -50%)
  h1
    margin-bottom .2em;
.scrolled
  opacity .2