.two-col
  width 50%
.three-col
  width 33.3333%
.four-col
  width 25%
.five-col
  width 20%
.cardSection.color
  padding 8%
.wrapper
  max-width wrapperWidth
  margin auto
  img
    max-width 100%
pre
  background darkGrey
  color white
  border-radius 4px
  padding 2%
  max-width 600px
  white-space pre-wrap
  font-family monospace
  margin-bottom 2em

.flex
  display flex
  flex-flow wrap
  article
    flex-grow 1

@media only screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio : 2)
  .main-content
    .wrapper
      padding 30px