@media only screen and (max-width: 415px) and (-webkit-min-device-pixel-ratio : 2)
  .slide-menu
    max-width none
    width 100%
    z-index 9
  .machine_btn
    display none
  .headerSign
    width 90%
    left 2% !important
  .three-col
    width 100%
  .two-col
    width 100%
  .four-col
    width 100%
  .header
    height 75vh
    .headerSign
      padding 15px
      font-size .6em
  .text
    padding 15px
    font-size .875em
  .slide-menu
    padding 65px 15px
    font-size 1.5em
  .sitemap
    padding 15px

  .hamburger-menu
    padding 11px 7px
    width 40px
    height 40px
    .habmburer__inner
      span
        height 2px
        width 25px
  .home_btn
    width 40px
    height 40px
    left 50px
    svg
      width 15px
      height 15px
      margin 12px

  .machine-grid a
    width 100%
    margin 1% 2%

  footer
    padding 20px
    .logo_bar
      display none


  .hamburger-menu span:nth-child(2)
    top 7px

  .hamburger-menu span:nth-child(3)
    top 14px

  .open span:nth-child(1)
    transform rotate(45deg)
    top -2px
    left 4px

  .hamburger-menu.open span:nth-child(3)
    top 16px
    left 4px

@media only screen and (max-width : 736px) and (-webkit-min-device-pixel-ratio : 2)
  .three-col
    width 100%
  .two-col
    width 100%
  .four-col
    width 100%

@media only screen and (max-width: 320px)
  .three-col
    width 100%
  .two-col
    width 100%
  .four-col
    width 100%

@media only screen and (min-width : 415px) and (max-width : 800px)
  .three-col
    width 50%
  .two-col
    width 100%
  .four-col
    width 50%
  .header
    height 75vh
    .headerSign
      padding 15px
      font-size .6em
  .text
    padding 15px
    font-size .875em
  .slide-menu
    padding 100px 15px
    font-size 1.5em

@media only screen and (max-width : 736px)
  .three-col
    width 100%
  .two-col
    width 100%
  .four-col
    width 100%

@media only screen and (min-width : 750px) and (max-width : 800px)
  .header
    height 60vh
    background-position top center
