.slide-menu
	min-width 30vw

.menu__wrap
	position absolute
	margin 4% 0
	top 0
	bottom 0
	overflow hidden
	width 100%

.menu__level
	position absolute
	top 0
	left 0
	visibility hidden
	overflow hidden
	overflow-y scroll
	height 100%
	margin 0
	padding 0
	list-style-type none

.menu__level--current
	visibility visible

.menu__item
	display block

.menu__link
	position relative
	display block

.menu__link[data-submenu]::after
	content '\e904'
	position absolute
	right 0


#ml-menu 
	.menu__link--current
		opacity 1
	
[class^='animate-'],
[class*=' animate-']
	visibility visible

.animate-outToRight 
	.menu__item
		-webkit-animation outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		animation outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)

@keyframes outToRight
	to
		opacity 0
		-webkit-transform translate3d(100%, 0, 0)
		transform translate3d(100%, 0, 0)

.animate-outToLeft .menu__item 
	-webkit-animation outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
	animation outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)


@keyframes outToLeft 
	to 
		opacity 0
		-webkit-transform translate3d(-100%, 0, 0)
		transform translate3d(-100%, 0, 0)
	


.animate-inFromLeft .menu__item 
	-webkit-animation inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
	animation inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)


@keyframes inFromLeft 
	from 
		opacity 0
		-webkit-transform translate3d(-100%, 0, 0)
		transform translate3d(-100%, 0, 0)
	
	to 
		opacity 1
		-webkit-transform translate3d(0, 0, 0)
		transform translate3d(0, 0, 0)
	


.animate-inFromRight .menu__item 
	-webkit-animation inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
	animation inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)


@keyframes inFromRight 
	from 
		opacity 0
		-webkit-transform translate3d(100%, 0, 0)
		transform translate3d(100%, 0, 0)
	
	to 
		opacity 1
		-webkit-transform translate3d(0, 0, 0)
		transform translate3d(0, 0, 0)
	
.menu__breadcrumbs
	font-size 0.6em
	line-height 1
	position relative
	text-transform uppercase
	border-bottom 1px solid white
	padding-bottom 1em
	
.menu__breadcrumbs a 
	display inline-block
	opacity .6
	cursor pointer
	vertical-align middle
	padding-right .5em
	color white

.menu__breadcrumbs a:hover
	opacity 1

.menu__breadcrumbs a:last-child 
	pointer-events none
	opacity 1 !important

.menu__breadcrumbs a:not(:last-child)::after 
	content '\2003 \203A'
	opacity .5
	display inline-block

.menu__back--hidden 
	pointer-events none
	opacity 0

.menu__back:hover,
.menu__back:focus 
	color #fff
	outline none

.menu__container
	width 100%
	float left
	height 100%