.noScroll
  overflow hidden
.slide-menu
  position fixed
  left 0
  top 0
  height 100vh
  width 100vw
  background #36BFBC
  color white
  overflow scroll
  padding 80px 50px 80px 150px
  z-index 4
  font-size 3.3em
  font-family 'brandon_textbold', sans-serif
  transition transform .2s ease-in-out
  transform-origin top left
  li
    a
      color canvas
      text-transform uppercase
      padding 10px 20px
      display inline-block
      margin 4px
      &:hover
        border 4px solid white
        margin 0
        background #fc7d7d;

.slide-menu.closed
  transform scale(0)
.slide-menu.open
  transform scale(1)

.slide-menu.top
  width 100vw
.slide-menu.top.closed
  transform translateY(-100%)

.slide-menu.top.open
  transform translateY(0%)

.hamburger-menu
  top 20px
  left 20px
  z-index 9
  padding 17px 15px
  box-sizing border-box
  width 60px
  height 60px
  position fixed
  transform rotate(0deg)
  cursor pointer
  &:hover
    .habmburer__inner
      span
        transform scale (2)
  .habmburer__inner
    span
      display block
      position absolute
      height 3px
      width 30px
      background white
      opacity 1
      left 0
      transform rotate(0deg)
      transition .25s ease-in-out
.hamburger-menu.black
  .habmburer__inner
    span
      background black
.hamburger-menu.open
  z-index 9

.hamburger-menu span:nth-child(1)
  top 0px
  transform-origin left center


.hamburger-menu span:nth-child(2)
  top 11px
  transform-origin left center

.hamburger-menu span:nth-child(3)
  top 22px
  transform-origin left center

.open span:nth-child(1)
  transform rotate(45deg)
  top 3px
  left 5px

.hamburger-menu.open span:nth-child(2)
  width 0%
  opacity 0

.hamburger-menu.open span:nth-child(3)
  transform rotate(-45deg)
  top 24px
  left 6px

.hamburger-menu.open
  span
    background canvas
