@-webkit-keyframes ripple {
   100% {
      -webkit-transform: scale(12);
      transform: scale(12);
      background-color: transparent;
   }
}

@keyframes ripple {
   100% {
      -webkit-transform: scale(12);
      transform: scale(12);
      background-color: transparent;
   }
}