projectFont = 'radikal',sans-serif
projectFontThickness = 300
projectFontSize = 1em
heroFontSize = 1.5em
hoverOpacity = 1
useShadow = true
shadowColor = rgb(10,10,10)

bodyColor = #f2f2f2
projectDarkColor = #333333
defaultLinkColor = #17BA9B
secondaryProjectColor = #0c0633
projectColor = palette('Indigo', '700') 
callToColor = #F94C10
buttonTextColor = canvas
darkProjectColor = darken(projectColor, 20)
lightProjectColor = lighten(projectColor, 20)
purple = rgb(173,107,130)
lightgrey = rgb(237,235,235)
mediumgrey = rgb(102,102,102)
darkGrey = #333
canvas = white
canvas-vivid = white
canvas-hard = white
canvas-soft = #eee
canvas-dim = #ddd
content = #000
feature = blue
primary = navy
secondary = darken(projectColor, 20% )
glow = rgba(255,255,255,.6)
shade = rgba(0,0,0,.4)

wrapperWidth = 600px
tiny-em = .3125em
xsmall-em = .625em
small-em = .9375em
smedium-em = 1.25em
medium-em = 1.875em
big-em = 3.125em
tiny-percentage = 1%
xsmall-percentage = 2%
small-percentage = 4%
smedium-percentage = 6%
medium-percentage = 8%
big-percentage = 10%
icon-width = 1.875em
icon-height = 1.875em
big-icon-width = 2.5em
big-icon-height = 2.5em
tiny = 50%
small = 62.5%
smaler = 75%
larger = 112.5%
large = 125%
massive = 200%
platinum = 256%
box = 40em
buttonPadding = .5em .8em

.standard-padding
	padding small-percentage